<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9bdd9eb751.js" crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/adminProducts.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container">
        <a class="navbar-brand m-2">Функции администратора: </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btBlue mx-1" aria-current="page" href="/admin"><i class="fa-solid fa-shop"></i></i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btBlue mx-1" aria-current="page" href="/admin/order"><i class="fa-solid fa-cubes"></i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btBlue mx-1" aria-current="page" href="/admin/person"><i class="fa-solid fa-users"></i></a>
                </li>
            </ul>
            <form method="post" th:action="@{/logout}">
                <button class="btn mx-2" id="logoutBtn" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
            </form>
        </div>
    </div>
</nav>

<div class="container d-flex justify-content-center" style="position:fixed;bottom:5px;right: 5px;left: 5px;z-index: 1" >
    <a class="btn btGreen btn-lg col-4 m-2 p-2 "  role="button"  href="admin/product/add">Добавить товар</a>
</div>

<div class="container col-12 my-5">
    <div class="my-2 p-3 categoryRad" th:each="category : ${categoryList}">
        <div class="row col-12 text-center">

            <a class="btn btBlue m-2 col-1 btCollapse" data-bs-toggle="collapse" th:href="'#table' + ${category.getId()}" role="button" aria-expanded="false" th:attr="aria-controls='table' + ${category.getId()}"><i class="fa-solid fa-bars"></i></a>
            <h4 class="display-6 mb-2 col-11" th:text="${category.getName()}"></h4>
        </div>

        <div class="collapse" th:id="'table' + ${category.getId()}">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th class="col-4" scope="col">Название</th>
                    <th class="col-4" scope="col">Продавец</th>
                    <th class="col-2" scope="col">Склад</th>
                    <th class="col-2" scope="col">Цена</th>
                    <th class="col-1" scope="col"></th>
                    <th class="col-1" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}" th:if="${product.getId()!=1 and product.getCategory().getName().equals(category.getName())}">
                    <td class="col-9" th:text="${product.getTitle()}"></td>
                    <td class="col-2" th:text="${product.getSeller()}"></td>
                    <td class="col-2" th:text="${product.getWarehouse()}"></td>
                    <td class="col-1" th:text="${product.getPrice()}"></td>
                    <td class="text-center col-1">
                        <a class="btn btBlue " role="button" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td class="text-center col-1">
                        <a class="btn btRed " role="button" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

</body>
</html>