<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
  <script src="https://kit.fontawesome.com/9bdd9eb751.js" crossorigin="anonymous"></script>

</head>
<body>
<h3>Редактирование товара</h3>
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
  <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br>

  <textarea th:field="*{description}" placeholder="Описание товара" id="description"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  <br>

  <input type="number" th:field="*{price}" placeholder="Цена товара" step="0.00" id="price">
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  <br>

  <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
  <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
  <br>

  <select name="category" th:field="*{category}" id="category">
    <div th:each="element : ${category}">
      <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
    </div>
  </select>
  <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
  <br>

  <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>

  <br>
  <input type="submit" value="Редактировать">

</form>
</body>
</html>