<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Brand</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/my/product">Главная</a>
                </li>

            </ul>
            <form class="d-flex" role="search" th:method="POST" th:action="@{/my/product}">
                <input class="form-control me-2" type="search" placeholder="Поиск по товарам" aria-label="Search" id="search" name="search" th:value="*{value_search}">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
            <a class="btn btn-success m-2" href="/my/order">Заказы</a>
            <a class="btn btn-success m-2" href="/my/cart">Корзина</a>
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-outline-danger m-2" type="submit">Выйти из ЛК</button>
            </form>
        </div>
    </div>
</nav>
<div class="container col-12 mt-5">
    <div class="col-12 text-center" th:if="${cart_product.isEmpty()}">
        <h1>Корзина пуста</h1>
    </div>
    <div th:if="${!cart_product.isEmpty()}">
        <div class="row">
            <div class="col-8 p-3 m-3" style="border-radius: 10px;border: #0d6efd 2px solid">
                <div th:each="cart_thing : ${cart}">
                    <div class="card mb-3 text-bg-light border-info" th:each="product : ${cart_product}" th:if="${cart_thing.getProductId()==product.getId()}">
                        <div class="row g-0 align-items-end">
                            <div class="col-md-4">
                                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5><a class="card-title" th:href="@{/my/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" ></a></h5>

                                </div>
                                <div class="container">
                                    <div class="row m-5 align-items-end">
                                        <div class="col-6">
                                            <p th:text="'Стоимость: ' + ${product.getPrice() * cart_thing.getQuantity()}"></p>
                                        </div>
                                        <div class="text-end col-6">
                                            <div class="input-group col-12" id="cart_control">
                                                <a th:href="@{/my/cart/remove_one/{id}(id=${product.getId()})}" class="btn btn-info col-2 text-center" type="button" id="button-minus" >-</a>
                                                <input class="form-control text-center" id="quantity" name="quantity" type="number" readonly th:value="${cart_thing.getQuantity()}">
                                                <a th:href="@{/my/cart/add_one/{id}(id=${product.getId()})}" class="btn btn-info col-2 text-center" type="button" id="button-plus">+</a>
                                                <a class="btn btn-danger col-3 text-center" th:href="@{/my/cart/delete/{id}(id=${product.getId()})}">x</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="text-end">
                    <a href="/my/cart/cancel" class="btn btn-danger">Очистить корзину</a>
                </div>

            </div>
            <div class="col-3 m-3 text-center" >
                <div class="p-5" style="border-radius: 10px;border: #0d6efd 2px solid">

                    <h6 th:text="'Итого: ' + ${final_price}"></h6>

                    <a class="btn btn-outline-success" href="/my/order/create">Оформить заказ</a>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>