.formCon{
    border: 2px solid #767522;
    border-radius: 10px;
    background-color: #ABA27D;
}
#warehouse{
    height: 100%;
}
.invalid-feedback, .infoImg{
    color: #88292F;
}
.form-control,  .form-control:focus{
    border: 2px solid #767522;
    background-color: #CFC0BD;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#file_one, #file_two, #file_three, #file_four, #file_five{
    display: none;
}
#labelOne{
    border: 4px dashed #767522;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-color: #446D79;
}
#labelOne:hover{
    border: 4px dashed #446D79;
    color: white;
    background-color: #8E9EA4;
}
.littleLabel{
    border: 4px dashed #767522;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    background-color: #446D79;
}
.littleLabel:hover{
    border: 4px dashed #446D79;
    color: white;
    background-color: #8E9EA4;
}
.btnRad{
    border: 4px dashed #88292F;
    text-align: center;
    border-radius: 50px;
}
.btnSubmit{
    border-radius: 50px;
}

