.form-label-custom, .form-label-custom:focus{
    background-color: #CFC0BD;
    border: 1px solid #767522;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#form-filter, #form-sort-select {
    background-color: #ABA27D;
    border: 1px solid #767522;
    border-radius: 10px;
    font-size: 12pt;
    top: 100px;
}
#imgCon{
    height: 200px;
}
#cardImg {
    object-fit: cover;
    max-height: 200px;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}
#cardPrice{
    font-size: 14pt;
}
#cardBody{
    background-color: #ABA27D;
}
#cardProduct{
    border: 1px solid #767522;
    transition: .3s;
}
#cardProduct:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn-custom{
    background-color: #6C773C;
    border: 1px solid  #BDB19D;
    color: white;
}
.btn-submit-custom{
    background-color: #ABA27D;
    border: 1px solid #767522;
    border-radius: 10px;
    color: white;
}
.btn-submit-custom:hover{
    background-color: #767522;
}