.productBorder{
    border: 2px solid #767522;
    border-radius: 50px;
    background-color: white;
}
.carousel-inner > .carousel-item > img { width:100%; height:100%; }
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.imgCon{
    height: 350px;
}
.cardImg {
    object-fit: cover;
    max-height: 350px;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}
#productSeller{
    border: 2px solid #767522;
    border-radius: 10px;
    background-color:  #ABA27D;
    color: black;
}
#quantity, #price{
    text-align: center;
    background-color:  #ABA27D;
    color: black;
    border: 2px solid #767522;
}