.error{
    color: #88292F;
}
.invalid-feedback, .infoImg{
    color: #88292F;
}
.regA{
    color: #88292F;
    text-decoration: none;
}
.regA:hover{
    color: #88292F;
    text-decoration: underline;
}