<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<h1>ЛК админ</h1>
<form method="post" th:action="@{/logout}">
    <button type="submit">Выйти из ЛК</button>
</form>
<a href="admin/product/add">Добавить товар</a>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
    <hr>
</div>
</body>
</html>