<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/9bdd9eb751.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/regAuth.css">

</head>
<body>

<div class="bform py-5 m-5 d-flex justify-content-center">
    <div class="row">
        <div class="container">
            <div class="col-lg-12 align-justify-center pr-4 pl-0 contact-form">
                <div class="">
                    <h2 class="mb-3 font-weight-light text-center">Вход</h2>
                    <form class="mt-3" method="post" action="/process_login">
                        <div class="row">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="login" name="username" id="username">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="password" name="password" id="password">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Войти</span></button>
                            </div>
                            <div class="col-lg-12 text-center mt-4"><a href="/registration" class="text-danger">Зарегистрироваться</a>
                            </div>
                            <div th:if="${param.error}" style="color: red">
                                Неправильный логин или пароль
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>